# pip requirements file
# pip freeze > requirements.txt
Flask
Flask-Cors
xarray
ipykernel
filelock
nbsphinx
sphinx_rtd_theme
sphinx-panels
Sphinx-Gallery
pyyaml
Pygments>=2.6.1
tqdm
markdown
eccodes
magics
ecmwflibs
termcolor